    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 75px
    background-color: "red";
    }
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color:#000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #a9e5ff;
}

.active {
  background-color:#72d3fe;
}

    .p {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .text {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: right;
    font-size: 45px;
    margin-bottom:  0px;
    }
    .cals {
    text-align: left;
    vertical-align: text-top;
    margin-top: 0px;
    }
    .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width = 50%;
    position: relative;
    top: 60px;
    }
    .name {
    font-family: 'Audiowide', cursive;
    text-align: center;
    position: relative;
    top: 50px;
    }
    .list {
    font-family: 'Audiowide', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    position: relative;
    top: 65px;
    display:inline;
    }
    .discord {
    display: block;
    position: absolute;
    top: 80px;
    right: 0px;
    }
    .luggage {
    display: block;
    position: absolute;
    top: 250px;
    right: 0px;
    }
    .bot {
    display: block;
    position: absolute;
    top: 525px;
    right: 0px;
    }
    .dinner {
    display: block;
    position: absolute;
    top: 400px;
    left: 0px;
    }
    .paintbrush {
    display: block;
    position: absolute;
    top: 80px;
    left: 0px;}
    .discordLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 60px;}
    .discordText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 55px;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 25px;
    color: white;
    }
    .discordTextAlignLeft {
    display: block;
    margin-left: 40%;
    margin-right: auto;
    position: relative;
    top: 55px;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 25px;
    color: white;
    }
    .discordPic {
    display: block;
    margin-left;
    top: 0px;
    }

  .discordPicBottom {
    display: block;
    margin-left: auto;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
    }
   .discordInfo {
    display: block;
    position: absolute;
    top: 80px;
    left: 0px;
    }
   .travelText {
   font-family: 'Raleway', sans-serif;
   text-align:center;
   font-size:50px;
   }
  .travelPictures {
  display: block;
  position: absolute;
  top: 85px;
  font-size:30px;
  }
  .travelTable {
  width="100%" style="table-layout: fixed"
  }
  .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
  .tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}
.regularInfo {
font-family: 'Audiowide', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;}
.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
